<div class="row mb-4 mt-3">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-6 mt-5">Payment Integration</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                    <li class="nav-item"> <a data-toggle="pill" (click)="creditcardbutton()" class="nav-link active ">
                            <i class="fa fa-credit-card mr-2"></i> Credit Card </a> </li>
                    <li class="nav-item"> <a data-toggle="pill" (click)="qrcodebutton()" class="nav-link "> <i
                                class="fa fa-mobile-alt mr-2"></i> QR
                            Code </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="creditcard">
    <app-creditcard>
    </app-creditcard>
</div>
<div [hidden]="creditcard">
    <app-qrcode></app-qrcode>
</div>