<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="contheader h-100 w-100">
        <header class="bgimg-1 w3-display-container w3-grayscale-min p-0 m-0" id="home">
          <img class="logocenter" img src="/../assets/logo.png" width="350" height="350">
          <div class="webtitle text-center">
            <div class="bigtitle">Start finding your medicine effectively!</div>
            <div class="subtitle1">We will help you to find your medicine easily.</div>
            <a button class="button text-white" (click)="registerpage()">Register now to find out the features!</a>
          </div>
        </header>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-6 pl-5">
      <h2><strong>
          What is Medicinish?
        </strong></h2>
      <p>Medicinish is an online shop web application that lets users to find their medicine based on the symptoms they
        have.
        Medicinish has its own algorithms in the system to find the most suitable medicine for the users by learning on
        the user's
        symptoms and
        contradictions. Medicinish implements "Symptoms Filtering" feature which makes it easier for user to search for
        their
        medicine.</p>
      <br>
      <h2><strong>
          What is Symptoms Filtering?
        </strong></h2>
      <p>
        When users are confused on buying which kind of medicine they really need, symptoms filtering feature is the
        solution to their problem. This feature helps user to find the medicine they need by learning on the user's
        symptoms. The first step that user needs to do is just listing the symptoms that they had. Medicinish have
        provided user with a list of common symptoms that most people feel when they are sick to make a better user
        experience of using the symptoms filtering feature. Users are able to list down three different symptoms that
        they had and also they need to state if they have any contradictions with medicine. Medicinish will provide the
        list of medicine that are most suitable with user's symptoms in the product list.
      </p>
    </div>
    <div class="col-md-6 pl-5">
      <h2><strong>
          About Us
        </strong></h2>
      <!-- card hor1 -->
      <!-- <div class="card">
        <div class="card-body pt-0 pb-0 col-9" style="display: flex;">
          <div class=" img-square-wrapper col-3 box p-0"> <img class="img-fluid" src="../../assets/steven.jpeg"
              style="height: auto; width: auto;margin: 0;" alt="Card image cap"> </div>
          <h4 class="card-title" style="font-weight: bold; font-size: 18px;">Steven Lee</h4>
          <span><strong>Binus International Computer Science Class of 2021</strong></span>
          <p class="card-text" style="font-size:16px;"> <small> In my current
              role, i was charge as Front End Developer and also for the UI/UX design. I will also be in charge of
              Medicinish
              database management.</small> </p>
        </div>
      </div> -->
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/steven.jpeg" class="card-img-top h-100" style="width: 200px;" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold; font-size: 18px;">Steven Lee</h4>
              <p class="card-text">In my current
                role, i was charged as Front End Developer and also for the UI/UX design. I will also be in charge of
                Medicinish
                database management.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card pt-4">
        <div class=" img-square-wrapper col-3 box p-0"> <img class="img-fluid" src="../../assets/ryan.jpg"
            style="height: auto; width: auto;margin: 0;" alt="Card image cap"> </div>
        <div class="card-body pt-0 pb-0 col-9">
          <h4 class="card-title ">Ryan Kho</h4>
          <span><strong>Binus International Computer Science Class of 2021</strong></span>
          <p class="card-text "> <small> In my current
              role, i will work as Back End Developer for Medicinish. I will also be in charge of deploying the
              application to the cloud. </small> </p>
        </div>
      </div> -->
      <div class="card mt-4">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/ryan.jpg" class="card-img-top h-100" style="width: 200px;" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold; font-size: 18px;">Ryan Anggada Kho</h4>
              <p class="card-text">In my current
                role, i was charged as Front End Developer and also for the UI/UX design. I will also be in charge of
                Medicinish
                database management.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="pagetitle1 text-center">Our Popular Products</div>
      <div style="padding: 0 10%;">
        <carousel [cellsToShow]="1" [autoplay]="true" [autoplayInterval]="1000" [dots]="true" [loop]="true">
          <div class="carousel-cell">
            <img src="/../assets/decadryl.jpg" />
            <div class="carousel-caption" style="color: black;">
              <h3 class="text-center" style="position: absolute; width:100%; top:55%">Decadryl</h3>
            </div>
          </div>
          <div class="carousel-cell">
            <img src="/../assets/panadol.png" />
            <div class="carousel-caption" style="color: black;">
              <h3 class="text-center" style="position: absolute; width:100%; top:55%">Panadol Extra</h3>
            </div>
          </div>
          <div class="carousel-cell">
            <img src="/../assets/mylanta.jpeg" />
            <div class="carousel-caption" style="color: black;">
              <h3 style="position: absolute; width:100%; top:55%">Mylanta</h3>
            </div>
          </div>
          <div class="carousel-cell">
            <img src="/../assets/actifed.jpg" />
            <div class="carousel-caption" style="color: black;">
              <h3 class="text-center" style="position: absolute; width:100%; top:55%">Actifed</h3>
            </div>
          </div>
          <div class="carousel-cell">
            <img src="/../assets/degirol.jpg" />
            <div class="carousel-caption" style="color: black;">
              <h3 class="text-center" style="position: absolute; width:100%; top:55%">Degirol</h3>
            </div>
          </div>
        </carousel>
      </div>
    </div>
  </div>
</div>