<div class="wrapper">
  <div class="container">
    <span class="choose">First Symptom</span>
    <mat-form-field appearance="fill">
      <mat-label>Choose your symptoms</mat-label>
      <mat-select>
        <mat-option *ngFor="let symptom of symptoms" [value]="symptoms.values">
          {{symptom.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <span class="msg"></span>
  </div>

  <div class="container">
  <span class="choose">Second Symptom</span>
  <mat-form-field appearance="fill">
    <mat-label>Choose your symptoms</mat-label>
    <mat-select>
      <mat-option *ngFor="let symptom of symptoms" [value]="symptoms.values">
        {{symptom.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="msg"></span>
  </div>

  <div class="container">
    <span class="choose">Third Symptom</span>
    <mat-form-field appearance="fill">
      <mat-label>Choose your symptoms</mat-label>
      <mat-select>
        <mat-option *ngFor="let symptom of symptoms" [value]="symptoms.values">
          {{symptom.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="msg"></span>
  </div>

  <div class="container">
    <span class="choose">Do you have any drug allergies?</span>
    <mat-form-field appearance="outline">
      <mat-label class="boldtitle">Select Answer</mat-label>
      <mat-select class= "backgroundselect">
        <mat-option *ngFor="let option of options" [value]="options.values">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="msg"></span>
  </div>
</div>