
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}
span.choose {
    margin-bottom: 1%;
    font-weight: bold;
    color: black;
}

.container {
  width: 500px;
  margin: 0px auto 0;
  text-align: center;
}

.boldtitle{
    font-weight: 600;
}

.backgroundselect{
    //background-color: white;
}

.wrapper{
    margin-top: 3%;
}