.bg{
    background-image: url('/../assets/pill.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 100px;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}
span.choose {
    margin-bottom: 1%;
    font-weight: bold;
    color: black;
}

.logocenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350;
  height: 350;
  margin-top: -100px;
}

.con{
  width: 100%;
  margin: 0px auto 0;
  text-align: center;
}

.upper{
  margin-top: -80px;
}

.boldtitle{
    font-weight: 600;
}


.wrapper{
    margin-top: -7%;   
}

.button {
  background-color: rgb(15, 47, 231);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 450px 200px;
  cursor: pointer;
  border-radius: 16px;
  // margin-right: -500px;
  // margin-left: 640px;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 200px;
}

.button:hover{
   background: #62cdff;
}