<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow">
                <div class="card-header">
                    <div class="tab-content">
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <img src="/../assets/bca.png" width="20%" height="35">
                            <h3 class="text-center card-title">Manual Transfer</h3>
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="username">Account Number
                                    </label> <input type="text" readonly name="accountnumber" value="5220304312"
                                        required class="form-control "></div>
                                <div class="form-group"> <label for="cardNumber">
                                        <label style="font-size: 11pt;">Amount to be paid</label>
                                    </label>
                                    <input type="text" readonly name="accountnumber" value="Rp. {{transactions.total}}"
                                        required class="form-control ">
                                </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <label style="font-size: 11pt;">Upload payment proof</label>
                                    </label>
                                    <input type="file" style="height: 45px;" name="proofoftransfer" required
                                        class="form-control ">
                                </div>
                                <button type="button" (click)="navigatetopostpurchase()"
                                    class="subscribe btn btn-primary btn-block shadow-sm"
                                    style="background-color: rgba(15, 47, 231,0.8)"> Confirm
                                    Payment </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>