<div class="row">
  <div class="loginfade col-md-6">
    <img class="object-fit_cover" img src="/../assets/loginwhitemed.jpeg" width="720" height="800">
  </div>
  <div class="col-md-6 transparent-blue align-items-center">
    <div class="centerize mx-auto my-auto">
      <span class="header">Sign In</span>
      <form #loginform="ngForm">
        <div class="row mt-4">
          <input class="form-control" type="text" [(ngModel)]="test.username" name="login" placeholder="Username"
            required>
        </div>
        <div class="row mt-4">
          <input class="form-control" type="password" [(ngModel)]="test.password" name="password" placeholder="Password"
            required>
        </div>
        <div class="row mt-4">
          <button class="btn btn-light btn-lg btn-block" (click)="symptomsfilteringpage()" value="Login"
            [disabled]="!loginform.form.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>