<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<title>Medicinish Login Page</title>
<br>
<body>
  <ul>
    <li>
          <h1>What is Medicinish?</h1>
              <p>
                  Medicinish is an online shop web application that lets users to find their medicine based on the symptoms they have. Medicinish uses AI technology to find the most suitable medicine for the users by learning on the user's symptoms and allergens. Medicinish implements "Symptoms Filtering" feature which makes it easier for user to search for their medicine.
              </p>
      </li>
    <li>
        <h1>Sign In</h1>
          <input type="text" required placeholder="Username">
          <input type="password" required placeholder="Password">
          <a class="login" href="#">Login</a>
    </li>
  </ul>
</body>