.transparent-blue{
    background: rgba(16, 103, 218, 0.801);    ; color: #fff;
}

.centerize{
    text-align: center;
    width: 450px;
    height: 500px;
    padding-top: 38%;
}

.btn-light{
    background: rgb(15, 47, 231);
    border: none;
    color: #fff;
    border-radius: 5px;
}

.btn-light:hover{
    background: #62cdff;
}

.object-fit_cover { 
    object-fit: cover 
}

.header{
    font-size: 30px;
    font-weight: bold;
}