<div class="row">
  <div class="loginfade col-md-6">
    <img class="object-fit_cover" img src="/../assets/loginwhitemed.jpeg" width="720" height="800">
  </div>
  <div class="col-md-6 transparent-blue align-items-center">
    <div class="centerize mx-auto my-auto">
      <span class="header">Sign In</span>
      <div class="row mt-4">
        <input class="form-control" type="text" required placeholder="Username">
      </div>
      <div class="row mt-4">
        <input class="form-control" type="password" required placeholder="Password">
      </div>
      <div class="row mt-4">
        <a class="btn btn-light btn-lg btn-block" href="symptomsfiltering">Login</a>
      </div>
    </div>
  </div>
</div>


<!-- <ul>
  -<li>
          <h1>What is Medicinish?</h1>
              <p>
                  Medicinish is an online shop web application that lets users to find their medicine based on the symptoms they have. Medicinish uses AI technology to find the most suitable medicine for the users by learning on the user's symptoms and allergens. Medicinish implements "Symptoms Filtering" feature which makes it easier for user to search for their medicine.
              </p>
      </li>!
  <li>
    <h1>Sign In</h1>
    <input type="text" required placeholder="Username">
    <input type="password" required placeholder="Password">
    <a class="login" href="#">Login</a>
  </li>
</ul> -->