.card-horizontal {  
    display: flex;  
    flex: 1 1 auto;
}

.btn-info{
    background: rgb(15, 47, 231);
    border: none;
    color: #fff;
}

.btn-info:hover{
    background: #62cdff;
}

.container{
    max-width: 1300px;
}

.distance{
    height: 250px;
}

