<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <strong>
            <h2>Shopping Cart</h2>
        </strong>
    </div>
    <div class="row">
        <!-- <div class="col-md-12 border">
            <div class="row mb-2">
                <div class="col-6 text-center"><strong>Items</strong></div>
                <div class="col-2"><strong>Price</strong></div>
                <div class="col-2"><strong>Quantity</strong></div>
                <div class="col-1"><strong>Subtotal</strong></div>
            </div>
            <div class="row">
                <div *ngFor="let product of shoppingcart; index as i" class="card w-100">
                    <div class="card-horizontal pt-4 pb-4">
                        <div style="max-width: 22%;" class=" img-square-wrapper col-3 box p-0"> <img class="img-fluid"
                                src="{{product.medicine!.image_url}}" style="height: 100px; width: 100px;margin: 0;"
                                alt="Card image cap"> </div>
                        <div class="card-body pt-0 pb-0 col-9">
                            <span><strong>{{product.medicine!.name}}</strong></span>
                        </div>
                        <div class="col-2 mx-auto">
                            Rp. {{product.medicine!.price}}
                        </div>
                        <div class="col-2">
                            <div class="form-group w-50">
                                <input class="form-control" type="number" [(ngModel)]="product.medicine!.quantity"
                                    name="quantity" min="1" (ngModelChange)="changevalue($event,i)">
                            </div>
                        </div>
                        <div class="col-1">
                            Rp. {{product.medicine!.subtotal}}
                        </div>
                        <div class="col-1 mx-auto">
                            <button type="button" (click)="deleteproduct(product.id!)" class="btn btn-secondary"> <i
                                    class='fa fa-trash'></i></button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>-->
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Items</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Subtotal</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of shoppingcart; index as i">
                            <td>
                                <div class="img-square-wrapper box p-0"> <img class="img-fluid"
                                        src="{{product.medicine!.image_url}}"
                                        style="height: 100px; width: 100px;margin: 0;" alt="Card image cap">
                                </div>
                            </td>
                            <td>{{product.medicine!.name}}</td>
                            <td>{{product.medicine!.price}}</td>
                            <td class="float-right">
                                <input class="form-control col-md-4" type="number"
                                    [(ngModel)]="product.medicine!.quantity" name="quantity" min="1"
                                    (ngModelChange)="changevalue($event,i)">
                            </td>
                            <td class="text-right">Rp. {{product.medicine!.subtotal}}</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"
                                    (click)="deleteproduct(product.id!)"><i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right" style="font-size: 15px;"><strong>Total</strong></td>
                            <td class="text-right" style="font-size: 15px;"><strong>Rp. {{total}}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <button type="button" (click)="transaction()" class="btn btn-info"> <i class="fa fa-money"></i> Proceed To
            Payment</button>
    </div>
    <div class="row mt-2">
        <button class="btn btn-link btn-block" style="color: black;" (click)="backtoproduct()">Back to
            Product List</button>
    </div>
</div>