<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<title>Medicinish Register Account Page</title>

<body>
    <form id="login-form" class="form" ng-submit="register()" [formGroup]="registerGroup">
        <h3 class="text-dark text-center">Register an Account</h3>

        <div class="form-group input-group">
            <label for= "firstname" class="text-dark">Firstname:</label><br>
            <input name="" class="form-control" placeholder="First Name" type="text" formControlName="firstname"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "lastname" class="text-dark">Lastname:</label><br>
            <input name="" class="form-control" placeholder="Last Name" type="text" formControlName="lastname"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "gender" class="text-dark">Gender:</label><br>
            <input name="" class="form-control" placeholder="Gender" type="text" formControlName="gender"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "dateofbirth" class="text-dark">DOB:</label><br>
            <input name="" class="form-control" placeholder="mm/dd/yy" type="text" formControlName="dateofbirth"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "address" class="text-dark">Address:</label><br>
            <input name="" class="form-control" placeholder="Address" type="text" formControlName="address"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "email" class="text-dark">Email:</label><br>
            <input name="" class="form-control" placeholder="Email" type="email" formControlName="email"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "username" class="text-dark">Username:</label><br>
            <input name="" class="form-control" placeholder="Username" type="text" formControlName="username"
              required>
        </div>

        <div class="form-group input-group">
            <label for= "password" class="text-dark">Password:</label><br>
            <input name="" class="form-control" placeholder="Password" type="text" formControlName="password"
              required>
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="register" style="border-radius: 50px; width: 100%;" (click)="register()">
    </form>
</body>
</html>

