<img class="logocenter" img src="/../assets/logo.png" width="350" height="350">

<div class="form_wrapper mb-3">
  <div class="form_container">
    <div class="title_container">
      <h2>Register An Account</h2>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <form>
          <div class="input_field">
            <input type="text" name="firstname" placeholder="FirstName" required />
          </div>
          <div class="input_field">
            <input type="text" name="lastname" placeholder="LastName" required />
          </div>
          <div class="input_field radio_option">
            <input type="radio" name="radiogroup1" id="rd1">
            <label for="rd1">Male</label>
            <input type="radio" name="radiogroup1" id="rd2">
            <label for="rd2">Female</label>
          </div>
          <div class="input_field">
            <input name="" class="form-control" placeholder="mm/dd/yy" type="text" formControlName="dateofbirth"
              required>
          </div>
          <div class="input_field">
            <input type="text" name="address" placeholder="Address" required />
          </div>
          <div class="input_field">
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input_field">
            <input type="text" name="username" placeholder="Username" required />
          </div>
          <div class="input_field">
            <input type="password" name="password" placeholder="Password" required />
          </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>