<img class="logocenter" img src="/../assets/logo.png" width="350" height="350">

<div class="pagetitle1 text-center">Showing results for
  {{medicineparam.first_symptom}}, {{medicineparam.second_symptom}} , {{medicineparam.third_symptom}}</div>
<div class="mb-3">
  <div class="row upper">
    <div *ngFor="let product of products; index as i" class="col-md-4">
      <div *ngIf="product.name" class="card pb-0">
        <img src="{{product.image_url}}" style="width:250px; height: 250px; margin-left: 15%;">
        <h3 style="font-size: 12pt;">{{product.name}}</h3>
        <p class="price">Rp. {{product.price}}</p>
        <a (click)="openDialog(i)">Click to see Description</a>
        <button (click)="savecart(product.id!)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>