.logocenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350;
    height: 350;
    margin-top: -100px;
}

.pagetitle1{
  font-weight: bold;
  font-size: 150%;
  margin-top: -100px;
  border: solid 1px none;
  background-color: rgb(15, 47, 231);
  color: white;
  padding: 20px;
}

.upper{
  margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    // margin-top: -50px;
    // margin-bottom: -488px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }









